.board-cell {
  height: 50px;
  width: 50px;
  background-color: pink;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  border: solid 1px black;
  width: 200px;
}

.board-cell-empty {
  display: none;
}

.board-cell-empty {
  background-color: darkred !important;
  color: darkred;
}
